.search-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    /* max-height: 300px; */
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
    z-index: 99;
    /* border: 2px solid var(--black); */
    transition: all 200ms ease-in-out;
    overflow: hidden;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}

.openSearch {
    visibility: visible;
    opacity: 1;
    top: 60px;
}

.search-field {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    position: relative;

    /* overflow: hidden; */
}

.search-field input {
    width: 100%;
    height: 100%;
    padding: 10px 50px 10px 20px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    border-radius: inherit;

    font-size: 20px;
    color: var(--text);
    font-family: inherit;
    font-weight: 900;
}

.search-field .cancel-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-field .cancel-btn svg {
    width: 20px;
    height: 20px;
    fill: var(--dark-grey);
}

.search-field .cancel-btn:hover svg {
    fill: var(--text);
}

.search-field input::placeholder {
    color: var(--dark-grey) !important;
    font-size: 15px;
}

.search-result {
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 300px;
    /* border: 1px solid red; */
    border-top: 1px solid var(--black);
    transition: height 300ms ease-in-out;
}

.search-result-list {
    padding: 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid var(--black-o-5);
    cursor: pointer;
}

.search-result-list:hover {
    background-color: var(--black);
}

.search-result-list h4,
.search-result-list h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-list h4 {
    font-size: 14px;
    font-weight: 900;
    color: var(--text);
}

.search-result-list h5 {
    font-size: 12px;
    font-weight: 700;
    color: var(--light-grey);
}

.playing-search {
    background-color: var(--black);
}

.playing-search h4,
.playing-search h5 {
    color: var(--primary);
}
