.analyser {
  width: 100%;
  height: 100%;
  /* background-color: $nav; */
  overflow: hidden;
}

.analyser_render {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.analyser-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--nav-o-4);
  backdrop-filter: blur(4px);
}
